.createplan-selection{
  position: relative;
  padding:0 20px;
  margin-bottom: 50px;
}

.createplan-selection::after{
  position:absolute;
  top:calc(50% - 280px);
  left:calc(50% - 960px);
  z-index: 100;
  width: 371px;
  height: 371px;
  background-image:url("../images/sel-img-1.png");
  content: "";
}

.createplan-selection::before{
  position: absolute;
  top:calc(0% + 150px);
  left:calc(50% + 630px);
  z-index: 100;
  width: 546px;
  height: 542px;
  background-image:url("../images/sel-img-2.png");
  overflow: hidden;
  content: "";
}

.createplan-selection__inner{ 
  position: relative;
  padding:50px 0;
  background-image:url("../images/Rectangle2.png");
  background-size: 100%;
  background-repeat:no-repeat;
  background-blend-mode: overlay;
  background-color:#F8F8F2;

}

.createplan-selection__inner::before{
  position: absolute;
  top:calc(50% + 500px);
  left:calc(50% - 980px);
  z-index: 100;
  width: 316px;
  height: 269px;
  background-image:url("../images/sel-img-3.png");
  background-size:contain;
  background-repeat:no-repeat;
  content:"";

}

.createplan-selection__box{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.leftbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.leftbox__item {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;

}

.leftbox__item:nth-child(5){
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 3px dashed #C99B67;
}

.mainbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mainbox__item {
  margin-bottom: 60px;
}

.mainbox__item:nth-child(5){
  margin-bottom: 100px;
}

.item__head {
  display: flex;
  align-items:center;
  width: 660px;
  margin-bottom: 20px;
  
}

.item__heading {
  margin: 0;
  margin-right: 55px;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #000000;
}

.item__downarrow {
  width: 17px;
  height: 10px;
}

.item__radiobox {
  display: flex;
  align-items: center;
}

.input{
  cursor: pointer;
}

.input + .input{
  margin-left: 18px;
}

.item__input {
  display: inline-block;
  width:208px;
  min-height: 220px;
  padding:30px 16px 0 12px;
  background-color: #c7ddd0;
  transition: all 0.2s ease-in-out;
}

.input__radio:checked~.item__input{
  background-color: #0A775F;
}

.input__radio:checked~.item__input .input__heading,.input__radio:checked~.item__input .input__text{
  color: #FFFFFF;
}


.input__heading {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #333333;
  transition: all 0.2s ease-in-out 0.1s;

}

.input__text {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  transition: all 0.3s ease-in-out 0.1s;

}

.form__order {
  width:660px;
  margin-bottom: 20px;
  padding:40px 20px 40px 22px;
  background-color: #C99B67;
}

.order__top {
  display: block;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.order__maintext {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

.order__maintext>strong{
  font-weight: 500;
  color: #333333;
}

.form__btnbox {
  display: flex;
  justify-content: end;
}


.form__submitbtn {
  margin-left: auto;
  padding:16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background-color: #0A775F;
  border-radius: 100px;
  border:3px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0.1s;
}

.form__submitbtn:hover{
  color: #0A775F;
  background-color: #FFFFFF ;
  border:3px solid #0A775F;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .createplan-selection::after{
      background-image:url("../images/sel-img-1@2x.png");
      background-size: contain;
  }

  .createplan-selection::before{
    background-image:url("../images/sel-img-2@2x.png");
  }

  .createplan-selection__inner::before{
    background-image:url("../images/sel-img-3.png");
  }
} 

