.works {
    padding:0 20px;
    margin-bottom: 50px;
}

.works__inner {
    position: relative;
    padding: 50px 10px;
    background-image:url("../images/workspesok.png");
    background-size: 100%;
    background-repeat:no-repeat;
    background-repeat:repeat-y;
    background-color: #0A775F;
    background-blend-mode: overlay;
}

.works__inner::before{
    position: absolute;
    top:calc(0% + 50px);
    left:calc(50% + 400px);
    display: inline-block;
    width:227px;
    height:192px;
    background-image:url("../images/works-sticer.png");
    background-repeat:no-repeat;
    content:"";
}

.works__textBox {
    margin:0 auto;
}

.works__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}

.works__listBox {
    padding-top: 160px;
    background-image:url("../images/works-bg-img.png");
    background-repeat:no-repeat;
    background-position:calc(50% - 160px) calc(50% - 165px)
}

.works__list {
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
}

.works__item {
    position: relative;
    width:433px;
    padding:20px 20px 40px 28px;
    background-color:#F8F8F2;
}

.works__item::before{
    position: absolute;
    top:calc(0% - 80px);
    left:0;
    display: inline-block;
    width: 60px;
    height:60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
    content:"";
}

.works__item + .works__item{
    margin-left: 20px;
}

.item__number {
    display:flex;
    justify-content: right;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    color: #333333;
    opacity: 0.8;
}

.item__subtitle {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333333;
}

.item__description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.works__btn {
    display: block;
    margin: 0 auto; 
    width: 200px;
    padding:16px 24px;
    background-color: #C99B67;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    border:2px solid transparent;
    transition: all 0.2s ease;
}

.works__btn:hover{
    color: #C99B67;
    background-color:#FFFFFF;
    border-color: #C99B67 ;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .works__listBox {
        background-image:url("../images/works-bg-img@2x.png");
    }
    
    .works__inner::before{
        background-image:url("../images/works-sticer@2x.png");
    }
    
} 